{{#each products}}
    <div class="items">
        <img src="{{image}}" alt="{{altText}}"/>
        <div class="itemText">
            <h6>{{name}}</h6>
            <p class="hide475">{{desc}}</p>
            <p>From <span class="productCost">{{price}}</span>
                {{#if discount}}
            <span class="fullPrice">{{originalPrice}}</span>{{/if}}</p>
        </div>
    </div>
{{/each}}